body {
  background-color: #ffe4c4;
  font-family: "sans-serif";
}
.blog {
  position: relative;
}

.card-img {
  object-fit: contain;
  padding-left: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-content {
  padding: 0px 16px 16px 16px;
}

.card-footer a {
  text-decoration: none;
  color: rgb(109, 109, 235);
}

.card-footer a:visited {
  color: rgb(109, 109, 235);
}
.card-body h2 {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 50%;
}

.card-body h1 {
  font-size: 21px;
  margin-bottom: 24px;
}

.card-body p {
  opacity: 60%;
  font-size: 14.4px;
}

.card-footer {
  font-size: 12.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card {
  min-width: 15rem;
  max-width: 20rem;
  min-height: 10rem;
  border: 10px solid cornsilk;
  margin-bottom: 16px;
  background-color: rgb(255, 250, 250);
  position: absolute;
  top: 50%;
  left: 50%;
  transform; translate(-50% -50%)
}
